@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100vh;
    background-color: black;
}

nav.menu-lateral {
    width: 71px;
    height: 100%;
    background-color: rgb(46, 45, 45);
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 rgb(0, 0, 240);

    overflow: hidden;
    transition-duration: 1s;
}
nav.menu-lateral:hover {
    width: 300px;
    transition: 1.4s;
}
.botaoexpandir {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
}
.botaoexpandir > i {
    color: white;
    font-size: 26px;
    cursor: pointer;
}
ul {
    height: 100%;
    list-style-type: none;
}
ul > li.item-menu > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
}
ul > li.item-menu > a:hover {
    background-color: rgb(27, 12, 68);
    transition: .2s;
}
ul > li.item-menu > a .txt-link {
    margin-left: 30px;
    line-height: 2em;
}
ul > li.item-menu .icon {
    font-size: 30px;
    margin-left: 10px;
}